<%= form_with(model: star) do |form| %>
  <% if star.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(star.errors.count, "error") %> prohibited this star from being saved:</h2>

      <ul>
        <% star.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
